@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

#root {
  margin: 0 auto;
}

html {
  font-size: 10px;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)),
    url("assets/bg-1.gif");
  background-size: cover;
  background-blend-mode: saturation;
}
